<h3> Listado de Heroes</h3>

<div *ngIf="deletedHero; else nombreQueQuiera">
    <h3>Heroe borrado <small class="text-danger"> {{ deletedHero }}</small></h3>
</div>

<ng-template #nombreQueQuiera >
    <h3>No a borrado nada</h3>
</ng-template>


<button 
*ngIf="heroNames.length > 0"
(click)="removeLastHeroe()"
class="btn btn-outline-danger">
    Borrar ultimo Heroe
</button>

<ul class="mt-2 list-group ">
    <li *ngFor="let name of heroNames " 
    class="list-group-item">
    {{name}}</li>
</ul>
